*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 01px solid rgb(13, 13, 13);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#ffffff, #ffffff);
}

.cacto{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.dino {
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 200px;
    bottom: 180px;
    animation: clouds-animation 2s infinite linear;
}

#timer {
    position: absolute;
    top: 70px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: rgb(138, 137, 137);
    padding: 10px 20px;
    border-radius: 10px;
   
}

#record {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: rgb(138, 137, 137);
    padding: 10px 20px;
    border-radius: 10px;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }

}